VideoMixerAndroid/.idea/
*.iml
VideoMixerAndroid/Grafika/build/
VideoMixerAndroid/AudioVideoRecordingSampleOriginal/build/
VideoMixerAndroid/AudioVideoRecordingSample/build/
VideoMixerAndroid/SurfaceEncoder/obj/
VideoMixerAndroid/SurfaceEncoder/libs/
VideoMixerAndroid/VideoMixerApp/libs/
VideoMixerAndroid/VideoMixerApp/obj/
